################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyRxNet/obj
/MyRxNet/bin/Debug/net6.0
